<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static', filename='change-information-resource/css/style.css')}}">

    <script src="{{url_for('static', filename='change-information-resource//js/jquery-3.6.0.min.js')}}"></script>

    <script src="{{url_for('static', filename='change-information-resource//js/script.js')}}"></script>

    <title>change info</title>
</head>
<body>
    
    <div class="form_box posi">
        <form action="/change_information/" method="POST" id="change_info">
            
            <div class="title">
            <h1>회원정보 조회/수정</h1>
            </div>
            
            <!-- <div class="input_box">
            <label for="">아이디</label>
            <input type="text" placeholder="ID" name="username">
            </div> -->
            
            <div class="input_box">
            <label for="">학번</label>
            <input type="text" name="num" placeholder="학번">
            </div>
            
            <div class="input_box">
            <label for="">학년</label>
            <input type="text" name="grade" placeholder="학년(숫자만기입)">
            </div>
            
            <div class="input_box">
            <label for="">이름</label>
            <input type="text" name="name" placeholder="이름">
            </div>
            
            <div class="input_box">
            <label for="">기존 비밀번호</label>
            <input type="password" name="password" placeholder="비밀번호 입력">
            </div>
            
            <div class="input_box">
            <label for="">새 비밀번호</label>
            <input type="password" name="new_password" placeholder="새로운 비밀번호">
            </div>
            
            <div class="input_box">
            <label for="">새 비밀번호 확인</label>
            <input type="password" name="password_confirm" placeholder="새로운 비밀번호 확인">
            </div>
            
            <div class="pwd_confirm">
            <p>{{message}}</p>
            </div>
            <!--
            회원가입 누를 시 비밀번호가 조건을 만족하지 못함 or 
            비밀번호 != 비밀번호 확인 시 문구 띄워주기-->
            
            <button type="submit" onclick="" class="btn">
               <p class="font_color">수정완료</p>
            </button>
        
        </form>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                alert("{{messages[-1]}}")
                window.location.href='/';
            </script>
        {% endif %}
    {% endwith %}
    <footer>
       <p>copyright © all rights reserved</p>
    </footer>
</body>
</html>