<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">

    <script src="{{url_for('static', filename='grade-complete-resource/js/jquery-3.6.0.min.js')}}"></script>

    <script src="{{url_for('static', filename='grade-complete-resource/js/script.js')}}"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='grade-complete-resource/css/style.css')}}">



    <title>grade</title>
</head>

<body>
    <header>
        <div class="header-wrap clearfix">
        <div class="logo cell">
          <a href="#">logo</a>
        </div>
        
        <nav class="cell_r">
          <ul>
            <li><a href="#">문의현황<img src="{{url_for('static', filename='grade-complete-resource/img/request.png')}}" alt="request"></a></li>
            <li><a href="/change_information/">정보수정<img src="{{url_for('static', filename='grade-complete-resource/img/join.png')}}" alt="change"></a></li>
            <li><a href="/logout">로그아웃<img src="{{url_for('static', filename='grade-complete-resource/img/logout.png')}}" alt="logout"></a></li>
            <li class="point">
              <span class="close color_2"></span>
              <span class="close color_2"></span>  
             </li>
          </ul>
          
        </nav>
          
          </div>
      </header>

    <div id="circle_menu">
        <div class="circle">
            <span class="location color_2"></span>
            <span class="location_2 color_2"></span>
        </div>
    </div>

    <main>
        <div id="private_info">
            <form action="" class="first_table">
                <div class="cap">
                    <p>개인정보</p>
                </div>
                <table class="table_deco">
                    <tr>
                        <td>학년</td>
                        <td>{{grade}}</td>
                        <td>학번</td>
                        <td>{{num}}</td>
                        <td>이름</td>
                        <td>{{name}}</td>
                    </tr>

                    <tr>
                        <td>총 수강학점</td>
                        <td>{{all_count}}</td>
                        <td>남은 학점</td>
                        <td></td>
                        <td>평점</td>
                        <td></td>
                    </tr>
                </table>
            </form>
        </div>

        <div class="grade_info">
            <form action="" class="grade_input">

                <div class="grade_box">
                    <table class="grade">
                        <div class="cap">
                            <p>수강과목</p>
                        </div>

                        <thead>
                            <tr>
                                <th>트랙구분</th>
                                <th>학년</th>
                                <th>과목명</th>
                                <th>해당학점</th>
                                <th>흥미도</th>
                                <th>성적</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>

                    </table>
                </div>

                <table class="interest">
                    <div class="cap">
                        <p>흥미도</p>
                    </div>

                    <thead>
                        <tr>
                            <th>흥미도</th>
                            <th>반영비율</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                <select name="" id="">
                                    <option value="">10%</option>
                                    <option value="">20%</option>
                                    <option value="">30%</option>
                                    <option value="">40%</option>
                                    <option value="">50%</option>
                                    <option value="">60%</option>
                                    <option value="">70%</option>

                                </select>
                            </td>
                            <td></td>
                        </tr>

                    </tbody>

                </table>

                <div class="btn_wrap">
                    <button>
                        <p>과목추가</p>
                    </button>

                    <button>
                        <p>결과확인</p>
                    </button>
                </div>
            </form>
        </div>
    </main>

    <footer>
        <p>copyright © all rights reserved</p>
    </footer>
</body>

</html>