<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="{{url_for('static', filename='main-resource/js/jquery-3.6.0.min.js')}}"></script>

    <script src="{{url_for('static', filename='main-resource/js/script.js')}}"></script>

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static', filename='main-resource/css/style.css')}}">
    <title>main</title>
</head>
<body>

  <!--로그인 전 main-->
   <!--hidden menu-->
   <header>
    <div class="header-wrap clearfix">
    <div class="logo cell">
      <a href="#">logo</a>
    </div>
    {% block content %}
    {% if session['logged_in'] %}
      <nav class="cell_r">
        <ul>
          <li><a href="#">문의현황<img src="{{url_for('static', filename='main-resource/img/request.png')}}" alt="request"></a></li>
          <li><a href="/change_information/">정보수정<img src="{{url_for('static', filename='main-resource/img/join.png')}}" alt="change"></a></li>
          <li><a href="/logout">로그아웃<img src="{{url_for('static', filename='main-resource/img/logout.png')}}" alt="logout"></a></li>
          <li class="point">
            <span class="close color_2"></span>
            <span class="close color_2"></span>  
          </li>
        </ul>
      </nav>
    {% else %}
    <nav class="cell_r">
      <ul>
        <li><a href="/register">회원가입<img src="{{url_for('static', filename='main-resource/img/join.png')}}" alt="join"></a></li>
        <li><a href="/login">로그인<img src="{{url_for('static', filename='main-resource/img/login.png')}}" alt="login"></a></li>
        <li class="point">
          <span class="close color_2"></span>
          <span class="close color_2"></span>  
         </li>
      </ul>
      
    </nav>
    {% endif %}
    {% endblock %}
      </div>
  </header>
  
   <!--hidden menu-->

    <!--quick menu-->
      <div id="circle_menu">
        <div class="circle">
          <span class="location color_2"></span>
          <span class="location_2 color_2"></span>
        </div>
      </div>
     <!--quick menu-->
     
     <!--main--> 
      <main id="con">
        <div class="main_logo">
          <img src="" alt="logo_img">
        </div>
        
        <div class="main_text">
          <div class="top_txt">
            <font color='red'>{{message}}</font>
            <p>나는 어떤 분야가 잘 맞을까?</p>
          </div>
          <div class="btm_txt">
            <h3>정보통신공학과<br/>트랙 직군 테스트</h3>
          </div>
        </div>
        
        <div class="main_img">
          <img src="" alt="main_img">
        </div>
        
        <div class="button_wrap">
          <button type="button" onclick="window.open('#');" class="color_1"><span>트랙테스트</span></button>
           <!--sub1 로그인 필요 없는 page, 새창에서 열림--> 
          <button type="button" onclick="location.href='/grade/';" class="color_2"><span>직군테스트</span></button>
           <!--sub2 로그인 후 이용가능 성적입력 page, 기존창에서 열림--> 
          <button type="button" onclick="location.href='#';" class="color_1"><span>자유게시판</span></button>
          <!--sub3 로그인 후 이용가능 게시판 page, 기존창에서 열림--> 
        </div>
        
        <div class="explain_txt">
            <p>※자세한 진로상담이나 진단은<br/> 
          <span class="font_w">전문기관을 이용하세요</span></p>
        </div>
      </main>
      <!--main-->  
      
      <!--footer-->
      <footer id="con">
        <p>copyright © all rights reserved</p>
       </footer>

</body>
</html>