<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static', filename='new-password-resource/css/style.css')}}">

    <script src="{{url_for('static', filename='new-password-resource/js/jquery-3.6.0.min.js')}}"></script>

    <script src="{{url_for('static', filename='new-password-resource/js/script.js')}}"></script>
    <title>newpassword</title>
</head>

<body>
    <div class="box posi">
        <div class="wrap">
            <div class="find">
                <h2>비밀번호 찾기</h2>
            </div>

            <div class="complete">
                <div class="com_wrap">
                    <p>새로운 비밀번호를 생성하였습니다.</p>
                </div>

                <div class="random">
                    <p>{{message}}</p>
                </div>

                <div class="notice">
                    <p>로그인 후 정보수정을 통해 비밀번호를 변경하시기 바랍니다.</p>
                </div>
            </div>

            <button type="button" onclick="location.href='/login/'">
                <p>로그인하기</p>
            </button>

            <!--로그인 창으로 이동-->

        </div>
    </div>

    <footer>
        <p>copyright © all rights reserved</p>
    </footer>
</body>

</html>