<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static',filename='register-complete-resource/css/style.css')}}">

    <script src="{{url_for('static',filename='register-complete-resource/js/jquery-3.6.0.min.js')}}"></script>

    <script src="{{url_for('static',filename='register-complete-resource/js/script.js')}}"></script>
    <title>join_complete</title>
</head>
<body>
    
    <div class="box posi">
        <div class="wrap">
          
          <div class="logo">
           <img src="" alt="logo">
         </div>
        
          <div class="welcome">
            <h3>{{message}}님의 회원가입이 완료되었습니다.<br>
              로그인을 통해 서비스를 이용하세요
            </h3>
         </div>
        
          <button type="button" onclick="location.href='/'">
             <p>메인으로 가기</p>
          </button>
          <!--메인 페이지(로그인 전)로 이동하기-->
          
         </div>
      </div>
      
    <footer>
        <p>copyright © all rights reserved</p>
    </footer>

</body>
</html>